body {
  font-family: Arial, sans-serif;
  margin: 12px;
  padding: 0;
}

hr {
  border: none;
  border-top: 1px solid #0c10d3;
  margin: 20px 0;
}

h1 {
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* Encabezado */
header {
  background-image: url("C:\Users\cindy\Desktop\Fondo encabezado.jpg");
  background-size: cover;
  padding: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}


/* Secciones -selectores id */
section {
  margin-bottom: 40px;
}

#sobremi {
  background-color: #f9f9f9;
  padding: 20px;
}

#educación table {
  border: 1px solid #ccc;
}

#educación th {
  background-color: #f5f5f5;
}

#experiencia table {
  border: 1px solid #ccc;
}

#experiencia th {
  background-color: #f5f5f5;
}

/* Formulario de contacto */
#contacto form {
  background-color: #f9f9f9;
  padding: 20px;
}

#contacto p {
  margin-bottom: 10px;
}



#contacto input[type="button"] {
  background-color: #333;
  color: rgb(133, 136, 168);
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Selectores de clase */
.custom-class {
  color: rgb(0, 68, 255);
  font-size: 24px;
}

.custom-section {
  background-color: #f9f9f9;
  padding: 20px;
}

.custom-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.custom-table th {
  background-color: #f5f5f5;
  padding: 8px;
  text-align: left;
}

.custom-table td {
  padding: 8px;
  text-align: left;
}
